{% extends "base.html" %}

{% block content %}
<!--Contant Starts-->
<div class="main-container">

    <!--Filter Wrapper Starts-->
    <div class="isotope-filter">
        <ul>
            <li>
                <a class="active" href="#" data-filter="*">All</a>
            </li>
            {% for tag in page.tags.all %}
            <li>
                <a href="#" data-filter="filter-{{ tag }}">{{ tag|upper }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <!--Filter Wrapper End-->

    <!--Grid Wrapper Starts-->
    <div class="grid portfolio-two" data-items-columns="4" data-items-gap="10">

        {% for photo_page in page.photo_pages.all %}
        {% with photo=photo_page.photo_page image=photo_page.photo_page.photo.first.image %}
        <div class="item {% for tag in image.tags.all %}filter-{{ tag }} {% endfor %}">
            <div class="project">

                <div class="image-wrapper" data-backgroundimage="/media/original_images/{{ image.filename }}"></div>

                <div class="caption-wrapper">
                    <div class="tittle-info">
                        <a href="{{ photo.get_url }}"><h4>{{ photo.title|upper }}</h4></a>
                        <p class="category">
                            {% for tag in image.tags.names %}
                                <span href="#">{{ tag|upper }}</span>
                            {% endfor %}
                        </p>
                    </div>
                </div>

            </div>
        </div>
        {% endwith %}
        {% endfor %}

    </div>
    <!--Grid Wrapper End-->

</div>
<!--Content End-->
{% endblock %}
