{% extends "base.html" %}
{% load wagtailimages_tags %}

{% block content %}
<!--Content Starts-->
<div class="main-container">

    <!--kenburns Wrapper Starts-->
    <!--Use "controllerbottom" class to set the direction controllers at the bottom-->
    <div class="kenburns-show controllerbottom" data-slide-interval="20000" data-slide-autoplay="true" data-slider-directions="true" data-dots-navigation="true">

        <!--Slides Wrapper Starts-->
        <div class="slides">

            {% for homepage_model in page.featured_photos.all %}
            {% with photo=homepage_model.photo_page.photo.first title=homepage_model.photo_page.title %}
            {% image photo.image width-1920 as tmp_photo %}
            <!--Items Starts-->
            <div class="item">
                <div class="imgwrap" data-backgroundimage="{{ tmp_photo.url }}"></div>

                <!--Caption Wrapper Starts-->
                <!-- Use classes "black" and "white" to change the color of caption -->
                <div class="caption white">
                    <a href="{{ homepage_model.photo_page.get_url }}">
                        <h6>{{ title }}</h6>
                        {% if photo.caption %}
                            <p>{{ photo.caption }}</p>
                        {% endif %}
                    </a>
                </div>
                <!--Caption Wrapper End-->
            </div>
            {% endwith %}
            {% endfor %}

        </div>
        <!--Slides Wrapper Starts-->

    </div>
    <!--kenburns Wrapper End-->

</div>
<!--Content End-->
{% endblock %}
