{% extends "base.html" %}

{% block body_class %}template-404{% endblock %}

{% block content %}
<div class="page-content-wrapper short-width">

    <div class="fullscreen-height">

        <div class="vp-center-outter text-center">

            <div class="vp-center-inner pl20 pr20">

                <h1 class="four-oh-four-title">404</h1>
                <p class="four-oh-four-subtitle">Sorry, the page you are looking for doesn't exist</p>

                <div class="btn-large btn-style4 mt20">
                    <a href="/">BACK TO HOME PAGE</a>
                </div>

            </div>

        </div>
    </div>
 </div>
{% endblock %}
