<!--Footer Starts-->
<footer class="page-footer clearfix fixed">

    <!--Fullpage button-->
    <a href="#" class="ex-btn full-page pe-7s-expand1"></a>

    <!--Copyrights-->
    <p class="copyrights pull-left">© FUNGUS PHOTOGRAPHY | ALL RIGHTS RESERVED</p>

    <!--Social Links-->
    <div class="social-link-wrapper pull-right">
        <a href=""><i class="fa fa-facebook"></i></a>
        <a href=""><i class="fa fa-twitter"></i></a>
        <a href=""><i class="fa fa-instagram"></i></a>
        <a href=""><i class="fa fa-pinterest-p"></i></a>
        <a href=""><i class="fa fa-flickr"></i></a>
    </div>

    <!--Fullscreen button-->
    <a href="#" class="fullscreen fa fa-expand"></a>

</footer>
<!--Footer End-->