{% load static menu_tags %}

<!--Header Starts-->
<header class="page-header clearfix">

    <!--Logo Wrapper-->
    <a href="/" class="logo-wrapper">
        <img src="{% static 'images/light-logo.png' %}" class="light-logo" />
    </a>

    <!--Mobile Menu Icon-->
    <a href="#" class="mobile-nav-button">
        <i class="icon"></i>
    </a>

    <!--Menu Wrapper Starts-->
    <nav class="manu-wrapper">
        {% main_menu template="mainmenu.html" %}
    </nav>
    <!--Menu Wrapper End-->

</header>
<!--Header End-->